.site-header {
	display: flex;
	z-index:10;
	width:100%;	
	background: unset;
	position: absolute;

	.header-container {
		margin: auto;
	}
}

// .custom-logo-link {
// 	@include media-breakpoint-down(md) {
// 		display: none;
// 	}
// }

.home .acf-block-banner:first-child {
	height:100vh;
}
.home .acf-block-banner:first-child {
	margin-bottom:-150px;
	@media(max-width: 768px) {
		margin-bottom:-110px;
	}
}
